#follow {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color:rgb(95, 70, 242);
    border-left: 6px solid rgb(95, 70, 242);
    height: 200px;
    font-size: 20px;
}

.icons {
    writing-mode: vertical-rl;
}

.icons i {
    font-size: 20px;
}
.icons a i{
    color:rgb(95, 70, 242);
}
.icons a i:hover{
    color:rgb(26, 6, 145);
}