.sidebar-list {
    list-style-type: none;
}

#sideBar {
    padding: 10px;
    border-top: 6px solid rgb(95, 70, 242);
}

#sideBar:hover {
    transform: translateX(-10px);
    width: 70px;
}
@media only screen and (max-width: 800px) {
    #sidebar{
        display:none;
    }
}