body {
    margin: 0;
    /*font: normal 75% ;*/
    overflow: auto;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#main-container {
    height: 100vh;
    margin:0;
}

.particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}

.particles-js {
    background-color: rgb(208, 204, 232);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.overlay {
    position: relative;
    z-index: 1;
}
.overlay-with-background{
    background-color: white;
    position: relative;

}

